.App {
  text-align: center;
}
.Logo{
  width: 100px;
  height: 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App_Form{
padding: 20px;
position: fixed;
bottom: 0;
margin: 20px;
z-index: 1;
width: 100% ;
background-color: #e9e9eb !important;

}

.App_formControl{
  display: flex !important;
  flex-direction: row !important;

}
.app_Input{
  flex: 1;
}
.app_iconButton{
  flex: 0;
  color: blue;
  margin-right: 2% !important;
}